@import 'partials/setup';
@import 'partials/variables';

.home{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/home-bg.jpg);
    @include background;

    .container{
        padding-top: 13%; 
        text-align: center;
    }
    h1{
        font-family: $title-font;
        color: white;
        font-size: 150px;
        span{
            color: $primary-color;
        }
    }
    h3{
        @include semi-title;
        color: #eee;
        margin: 30px auto;
    }
    button{
      @include button;

    }
    button:hover{
        background-color: $primary-color;
        border: $primary-color;
        @include hover;
    }
}
.search{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../assets/search-bg2.jpg);
    @include background;
    
    #go-home{
        margin-top: 50px;
        margin-left: 100px;
        font-size: 50px;
        color: white;
    }
    #go-home:hover{
        color: #cecece;
        transition: .3s ease-in-out;
    }

    .search-box{
        margin: 200px auto;
        padding: 25px 15px;
        text-align: center;
        background: white;
        color: black;
        width: 700px;
        position: relative;
    
        h3{
            font-family: $title-font;
            font-size: 70px;
            margin-bottom: 50px;
        }
        form{
            width: 450px;
            background: #262626;
            padding: 40px;
            position: absolute;
            left: 18%;
            top: 70%;
            margin: auto;
        }
        .ingredients{
            margin: auto;
            margin-bottom: 20px;
            margin-right: 18px;
            display: inline-block;
            background-color: #eee;
            border: 0;
        }
        input[type="text"]{
            width: 250px;
            height: 45px;
            font-family: $semi-title;
            padding: 0 5px;
            font-size: 16px;
        }
        i{
            color: white;
            font-size: 25px;
            display: inline-block;
        }
        i:hover{
            color: $primary-color;
            cursor: pointer;
        }
        .submit{ 
            @include button2;
            width: 100px;
            height: 40px;   
            transition: .3s ease-in-out;
        }
        .submit:hover{
            background-color: $secondary-color;
        }
    }
}
.recipe-lists{
    background-image: url(../assets/wall4.png);
    #go-search{
        position: absolute;
        left:30px;
        top: 50px;
        font-size: 50px;
        color: white;
    }
    #go-search:hover{
        color: #cecece;
        @include hover;
    }
    .top-banner{
        background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../assets/result-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 220px;
        text-align: center;
        h3{
            margin: auto;
            margin-bottom: 0;
            padding-top:20px;
            font-family: $title-font;
            color: white;
            font-size: 120px;
        }
        p{
            font-family: $semi-title;
            color: white;
            font-size: 22px;
            margin-top: 0;
        }
    }
    .container{
        text-align: center;
    }
    .results{
        padding: 30px 0;
        min-height: 75vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
         
        .item{
            height: 300px;
            margin: 10px 0;
            width: 32%;
            display: inline-block;
            border-radius: 5px;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }
        .title-container{
            display: flex;
            justify-content: space-around;
            background-color:rgba(0, 0, 0, 0.5);
            height: 70px;
            @include hover;
      }
        h3{
            @include semi-title;
            font-size: 16px;
            line-height: 1.4;
            color: #fff;
            padding: 0 5px;
            margin: auto;
        }
        .title-container:hover{
            background-color: rgba(124, 32, 26, 0.8);
        }
        
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
       
    .container{
        width: auto;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10px auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */

    }
    p{
        font-family: $title-font;
        font-size: 80px;
        text-transform: lowercase;
        text-align: center;
        border-bottom: 3px solid $primary-color;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-list{
        margin-top: 20px;
        height: auto;
    }
    li{
        margin-right: 10px;
        display: inline-block;
        font-family: $semi-title;
        font-weight: 600;
        width: 45%;
        padding: 5px 10px;
    }
    .image{
        margin-top: 20px;
        text-align: center;
        overflow: hidden;
        height: 250px;
        background-size: cover;
        background-position: center;
    }

 }
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/spinner.gif') 50% 50% no-repeat rgb(249,249,249);
}
.no-result{
    font-family: $title-font;
    font-size: 150px;
    margin: auto;
    display: inline-block;
}

.see-more{
    @include button2; 
    margin: 20px auto;
    width: 150px;
    height: 70px;

    i{
        font-size: 40px;
    }
}
.see-more:hover{
    background-color: $secondary-color;
    @include hover;
}